<h1>Game</h1>
<div class="container" ng-app="jackpotApp">
  <div ng-controller="jackpotGameCtrl">
    <div class="row">
      <div class="col-xs-1 btn btn-large btn-default" ng-repeat="i in digits track by $index" style="height: 3em; font-size: 300%" ng-click="select(i)">{[{i}]}</div>

      <div class="col-xs-3 btn btn-large btn-default" ng-click="roll()">
        Roll!
      </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col dice" ng-repeat="d in dice track by $index">{[{d}]}</div>
    </div>
  </div>
</div>