<h1>Game</h1>
<div class="container" ng-app="jackpotApp">
  <div ng-controller="jackpotGameCtrl">
    <div class="row">
      <div class="col-xs-1" ng-repeat="i in digits"><a href="#"class="btn btn-large btn-default">{[{i}]}</a></div>
    </div>
  </div>
</div>