@font-face {
  font-family: 'JackpotDice';
  src: url('dice-font.eot?v=0.0.1');
  src: url('dice-font.eot?#iefix&v=0.0.1') format('embedded-opentype'), 
    url('dice-font.woff2?v=0.0.1') format('woff2'), url('dice-font.woff?v=0.0.1') format('woff'), url('dice-font.ttf?v=0.0.1') format('truetype'), url('dice-font.svg?v=0.0.1') format('svg');
  font-weight: normal;
  font-style: normal;
}
.dice {
  font-family: JackpotDice;
  font-size: 5em;
}